.git
.env
.env.example
vendor/
node_modules/
storage/logs/*
public/uploads/*
public/assets/css/app.min.css
public/assets/js/app.min.js
public/assets/js/dashboard.min.js
public/assets/manifest.json
build.php
docker/
*.md
docs/
.vscode/
.idea/
Thumbs.db
.DS_Store
